antiorm==1.2.1
appdirs==1.4.4
asttokens==2.4.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
cssselect==1.2.0
db==0.1.1
db-sqlite3==0.0.1
debugpy==1.8.6
decorator==5.1.1
executing==2.1.0
fake-useragent==1.5.1
idna==3.7
importlib_metadata==8.0.0
ipykernel==6.29.5
ipython==8.28.0
jedi==0.19.1
jupyter_client==8.6.3
jupyter_core==5.7.2
lxml==5.2.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
parse==1.20.2
parso==0.8.4
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.0.0
pure_eval==0.2.3
pyee==11.1.0
Pygments==2.18.0
pyppeteer==2.0.0
pyquery==2.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==307
pyzmq==26.2.0
requests==2.32.3
requests-html==0.10.0
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
w3lib==2.2.1
wcwidth==0.2.13
websockets==10.4
zipp==3.19.2
